<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url, class: "image" %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>
<button type="button" class="btn btn-success"><%= link_to 'Confirm', blogs_path %> </button>
<button type="button" class="btn btn-dark"><%= link_to 'Back', edit_blog_path(@blog)%></button>


