<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">

  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm" style="background-color:blue;">
  
    <!-- Links -->
    <ul class="navbar-nav" style="color:white">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:white"><i class="fab fa-facebook-f"></i>FacebookClone</a>
      </li>
      <li class="nav-item" style="color:white">
        <a class="nav-link" style="color:white" <%= link_to 'Home', blogs_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" <%= link_to 'New Post', new_blog_path %></a>
      </li>
      <li class="item"> <input type="text" name="search" placeholder="search friend"/> <i class="fas fa-search"></i>    </li>
    
  <li class="item"><i class="fas fa-users"></i></li>
  <li class="item"><i class="fas fa-user-circle"></i></li>
  <li class="item"><i class="far fa-bell"></i></li>
  </ul>
  </nav>
  <br>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <% if logged_in? %>
  <p> Welcome, <%=current_user.name %> <br>
  <button type="button" class="btn btn-primary"><%= link_to "Profile", user_path(current_user.id) %></button>
 
<button type="button" class="btn btn-danger"><%= link_to "Logout", session_path(current_user.id), method: :delete %></button>


  <% else %>
  <button type="button" class="btn btn-primary"><%= link_to "Sign up", new_user_path %></button>

  <button type="button" class="btn btn-success"><%= link_to "Login", new_session_path %></button>
 
  <% end %>
 <br>
   
    <p style="padding-top:2rem"><a style="color:blue" <%= link_to 'What is in your mind?', new_blog_path%></a></p><br>

    <p style="color:blue">
    <i class="far fa-comments"> </i> Chats
    <i class="fas fa-users"> </i> Friends
    <i class="fas fa-calendar-alt"> </i> Upcoming Events
    </p>


    <div class="card-deck">
  <div class="card bg-warning">
    <div class="card-body text-center" style="background-color:white">
     <%= yield %>
    </div>
  </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>